<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <div class="mb-2" style="background: #220991; padding:10px; color:white;text-color:white;">
        <a style="color:white;" asp-controller="Movie" asp-action="Home"><b>Home Page</b></a>&nbsp;
        <a style="color:white;" asp-controller="Movie" asp-action="Add"><b>Add New Movie</b></a>&nbsp;
        <a style="color:white;" asp-controller="Movie" asp-action="About"><b>About the Team</b></a>&nbsp;
        <a style="color:white;" asp-controller="Movie" asp-action="TopFive"><b>Top Five Movies<b></a>&nbsp;
</div>
</head>

<body>
    <h1>Our top five movies'</h1>
        <p>My top five favorite movies are: <br/>
            The hobbit<br/>
            The internship<br/>
            How to train your dragons<br/>
            Star wars<br/>
            Surf's Up<br/>
        </p>
</body>
</html>